@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: rgb(94, 70, 4);
  font-family: "Roboto Slab", serif;
}

.front-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.main-title {
  color: white;
  padding-bottom: 2rem;
}

.section-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  gap: 2rem;
  max-width: 1600px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.student-box-wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  border: 2px solid rgb(190, 162, 37);
}

.student-properties {
  font-size: 18px;
  color: aliceblue;
  font-weight: 700;
}

.show-more-button {
  color: rgb(190, 162, 37);
  border: 2px solid rgb(190, 162, 37);
  padding: 3px;
  background-color: rgb(94, 70, 4);
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

.show-more-button:hover {
  background-color: rgb(190, 162, 37);
  color: rgb(94, 70, 4);
}

.student-details-pop-up {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 30;
  top: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.student-details-pop-up-visible {
  display: flex;
  visibility: initial;
  pointer-events: initial;
}

.student-details-pop-up .student-details-container {
  background-color: rgb(196, 164, 78);
  position: relative;
  padding: 3rem;
  gap: 1rem;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.student-details-pop-up .student-details-container .pop-up-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 36px;
  cursor: pointer;
}

.student-details-pop-up-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.pop-up-button {
  color: rgb(190, 162, 37);
  border: 2px solid rgb(190, 162, 37);
  padding: 6px;
  background-color: rgb(94, 70, 4);
  font-size: 16px;
  font-family: "Roboto Slab", serif;
}

.pop-up-button:hover {
  background-color: rgb(190, 162, 37);
  color: rgb(94, 70, 4);
}

#filter-sort-search {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

#filter-sort-search select {
  padding: 4px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  background-color: rgb(94, 70, 4);
  color: rgb(190, 162, 37);
  border: 1px solid rgb(255, 208, 0);
}

#filter-sort-search input {
  padding: 4px;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  background-color: rgb(94, 70, 4);
  color: rgb(190, 162, 37);
  border: 2px solid rgb(190, 162, 37);
}

#filter-sort-search input::placeholder {
  color: rgb(255, 208, 0);
}

.information-text-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 4px;
}
.information-text-wrapper p {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  background-color: rgb(94, 70, 4);
  color: rgb(190, 162, 37);
}

.expelled-list-template {
  color: red;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.inquisitor-list-template {
  color: rgb(23, 15, 183);
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.prefect-list-template {
  color: rgb(14, 163, 177);
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.expelled-list-template-visible {
  visibility: initial;
  pointer-events: initial;
}

.inquisitor-list-template-visible {
  visibility: initial;
  pointer-events: initial;
}

.prefect-list-template-visible {
  visibility: initial;
  pointer-events: initial;
}

@media only screen and (max-width: 830px) {
  .information-text-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 675px) {
  #filter-sort-search {
    flex-direction: column;
  }
}

.status-pop-up-wrapper {
  display: flex;
  flex-direction: column;
}

.expelled-status-pop-up {
  color: red;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.inquisitor-status-pop-up {
  color: rgb(23, 15, 183);
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.prefect-status-pop-up {
  color: rgb(14, 163, 177);
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.expelled-status-pop-up-visible {
  visibility: initial;
  pointer-events: initial;
}

.inquisitor-status-pop-up-visible {
  visibility: initial;
  pointer-events: initial;
}

.prefect-list-status-pop-up-visible {
  visibility: initial;
  pointer-events: initial;
}
